name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  pipeline-geral:
    # Chama o Mestre
    uses: mancini-labs/ops-infra/.github/workflows/java-maven-docker-template.yml@main
    
    # A MÁGICA: "Herde todos os segredos da organização automaticamente"
    secrets: inherit
    
    # Só passo o que muda de um projeto pro outro (Nome e Chave)
    with:
      sonar-project-key: mancinidsb_novo-projeto-java
      docker-image-name: novo-projeto-java  